<div class="reset-password-container">
    <h2>Forgot Password</h2>
    <h4>Need to reset your password? No problem! Just enter your email address below and you'll be on your way.</h4>

    <form action="/api/auth/reset" method="post">
        <div class="input-wrappper">
          <input class="txt-field-fill_grey" autocomplete="off" type="email" name="email" placeholder="Email" required>
        </div>
      
        <button class="btn-lg btn-signin" type="submit">Send Reset Link</button>

        <% if(messages.err){ %>
            <span class="error-msg"><%= messages.err %></span>
        <% } else if (messages.success){ %>
            <span class="success-msg"><%= messages.success %></span>
        <% } %>
      </form>

    <span class="back-to-signin">Back to <a href="/auth/signin">Sign in</a></span>
</div>