<span class="header">Join Enlisted</span>
<span class="subheader">Create list, poll, and announcement in real-time</span>

<form action="/api/auth/signup" method="post">
  <div class="input-wrappper">
    <input 
      class="txt-field-fill_grey" 
      autocomplete="off" 
      type="text"
      name="fullName" 
      placeholder="Fullname"
      value="<%if(messages.fullName){ %><%=messages.fullName%><%}%>">
  </div>

  <div class="input-wrappper">
    <input 
      class="txt-field-fill_grey" 
      autocomplete="off" 
      type="text"
      name="nickname" 
      placeholder="Nickname"
      value="<%if(messages.nickname){ %><%=messages.nickname%><%}%>">
  </div>

  <div class="input-wrappper">
    <input 
      class="txt-field-fill_grey" 
      autocomplete="off" 
      type="email"
      name="email" 
      placeholder="Email"
      value="<%if(messages.email){ %><%=messages.email%><%}%>">
  </div>

  <div class="input-wrapper">
    <input 
      class="txt-field-fill_grey" 
      autocomplete="off" 
      type="password" 
      name="password" 
      placeholder="Password">
  </div>

  <% if(messages.err){ %>
    <span class="error-msg"><%= messages.err %></span>
  <% } %>

  <button class="btn-lg btn-signin" type="submit">Sign Up</button>
</form>

<span class="signup-option">Already have an account? 
  <a href="/auth/signin">Sign In</a>
  here
</span>