<div class="logo-wrapper">
  <img src="/images/app/logo.png" alt="enlisted logo">
</div>

<form class="" action="/api/auth/signin" method="post">
  <div class="input-wrappper">
    <input class="txt-field-fill_grey" autocomplete="off" type="email" name="email" placeholder="Email" required>
  </div>
  <div class="input-wrapper">
    <input class="txt-field-fill_grey" autocomplete="off" type="password" name="password" placeholder="Password" required>
  </div>

  <% if(messages.err){ %>
    <span class="error-msg"><%= messages.err %></span>
  <% } %>

  <button class="btn-lg btn-signin" type="submit">Sign In</button>
</form>
<a href="/auth/reset" class="forgot-password">Forgot Password?</a>

<span class="signup-option">Don't have an account yet?
  <a href="/auth/signup">Sign Up</a>
  here
</span>

<span class="copyright">&copy; Copyright Enlisted 2021</span>