<span class="header">Join Enlisted</span>
<span class="subheader">Create list, poll, and announcement in real-time</span>

<form action="/api/auth/signup" method="post">
  <div class="input-wrappper">
    <input
      class="txt-field-fill_grey"
      autocomplete="off"
      type="text"
      name="fullName"
      placeholder="Full Name"
      value="<%- messages.fullName ? messages.fullName : ''%>"
      required>
  </div>

  <div class="input-wrappper">
    <input
      class="txt-field-fill_grey"
      autocomplete="off"
      type="text"
      name="nickname"
      placeholder="Nickname"
      value="<%- messages.nickname ? messages.nickname : ''%>"
      required>
  </div>

  <div class="input-wrappper">
    <input
      class="txt-field-fill_grey"
      autocomplete="off"
      type="email"
      name="email"
      placeholder="ITK Email"
      value="<%- messages.email ? messages.email : ''%>"
      required>
  </div>

  <div class="input-wrapper">
    <input
      class="txt-field-fill_grey"
      autocomplete="off"
      type="password"
      name="password"
      placeholder="Password"
      required>
  </div>

  <% if(messages.err){ %>
    <span class="error-msg"><%= messages.err %></span>
  <% } %>

  <button class="btn-lg btn-signin" type="submit">Sign Up</button>
</form>

<span class="signup-option">Already have an account?
  <a href="/auth/signin">Sign In</a>
  here
</span>

<span class="copyright">&copy; Copyright Enlisted 2021</span>
