// Auth

.auth-container {
    display: flex;
    flex-direction: column;
    margin: 16px;

    .header {
        color: $black;
        font-size: 26px;
        font-weight: bold;
        margin: 18px 0 10px;
    }

    .subheader {
        color: #252525;
        font-size: 15px;
        margin-bottom: 64px;
    }

    .logo-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 12vh 0 24vh;
    
        img {
            width: 38%;
        }
    }

    form {
        width: 100%;

        input {
            margin-bottom: 12px;
        }

        .btn-signin {
            margin: 32px 0;
        }

        .error-msg {
            color: crimson;
        }
    }

    .forgot-password{
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        color: $black;
    }

    .signup-option, .signin-option {
        margin-top: 60px;
        margin-bottom: 81px;
        font-size: 12px;
        align-self: center;

        a {
            font-weight: 700;
        }
    }

    .copyright {
        font-size: 12px;
        align-self: center;
    }
}