// background

$light-bg: #F9F9F9;
$dark-bg: #181818;

// colors

$black: #3d3d3d;
$white: #fff;
$darker-white: #F9F9F9;
$dark-grey: #727272;
$grey: #6E6E6E;
$light-grey: #EEEEEE;
$blue: #3E41A6;
$light-blue: #1492E6;
$green: #44A7AA;

//gradients

$grad-ocean: linear-gradient(90deg, rgba(61,56,165,1) 0%, rgba(68,167,170,1) 100%);
$grad-fade: linear-gradient(45deg, rgba(145,57,57,1) 0%, rgba(69,90,199,1) 100%);

// shadows

$shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
$right-shadow:-1px 1px 9px 1px rgba(136,136,136,0.75);

// font

$font-family: 'Overpass';

