@import "base.scss";

// spans

.recent_wrapper {
  padding-bottom: 16px;

  span {
    font-weight: 600;
    font-size: 13px;
    color: #6E6E6E;
    text-transform: uppercase;
  }
}

// Text Fields

%txt-field {
  color: $black;
  border: none;
  border-radius: 8px;
  padding: 16px 10px;
  width: 100%;
  font-size: 14px;
}

.txt-field-search {
  color: $black;
  border: none;
  border-radius: 4px;
  padding: 10px 12px;
  margin-right: 8px;
  width: 100%;
  font-size: 12px;
  background: #f5f5f5;
}

.txt-field-fill_grey {
  @extend %txt-field;
  background: $light-grey;
}

.txt-field_white {
  @extend %txt-field;
  background: $white;
}

.txt-field_white:focus {
  @extend %txt-field;
  background: $white;
  box-shadow: $shadow;
  transition: all 0.3s; 
}

.txt-field_line {
  resize: none;
  overflow: hidden;
  width: 100%;
  font-size: 15px;
  color: $black;
  border: none;
  border-bottom: .5px solid #707070;
  padding: 12px 0;
  margin: 8px 0;
  background: none;
}

.txt-field_transparent {
  border: none;
  background: none;
  width: 100%;
}

// Buttons

%btn {
  height: 48px;
  border: none;
  border-radius: 8px;
  background: $grad-ocean;
  color: $white;
  margin: 12px 0;
  box-shadow: $shadow;
  transition: opacity 0.1s;

  &:active {
    opacity: .8;
  }

  &:disabled {
    opacity: .5;
  }
}

.btn-rounded {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 40%;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize; 
  border: none;
  border-radius: 24px;
  background: $white;
  color: $blue;
  margin: 12px 0;
  box-shadow: $shadow;

  &:active {
    opacity: .8;
  }
}

.btn-lg {
  @extend %btn;
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
}

.btn-sm {
  @extend %btn;
  width: 32%;
  font-size: 14px;
  text-transform: capitalize;
}

.btn-join {
  @extend %btn;
  width: 18%;
  padding-left: 0;
  background: $blue;
}

.btn-icon {
  transform: rotate(45deg);
}

.btn-add-option {
  @extend %btn;
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  background: $green;
}

.btn-edit-profile {
  @extend %btn;
  width: 43%;
  height: 36px;
  color: $black;
  font-size: 13px;
  font-weight: 600;
  text-transform: capitalize;
  background: $light-grey;
}

// Progress Bar

.progress-bar_wrapper {
  margin-bottom: 12px;
  
  &:last-child(1){
    margin-bottom: 0;
  }

  .poll-relative {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    span {
      position: absolute;
      font-size: 15px;
      padding-left: 15px;
    }

    .percentage {
      right: 12vw;
      color: $black;
    }
  }
}

.progress-bar {
  border: none;
  border-radius: 8px;
  width: 100%;
  background: #EFF3F6;
  
  div {
    display: flex;
    align-items: center;
    height: 48px;
    width: 0%;
    background: $green;
    border-radius: 8px;
  }
}

// Toggle switch

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $green;
}

input:focus + .slider {
  box-shadow: 0 0 1px $green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.poll-wrapper {
  display: flex;
  flex-direction: column;

  input[type=radio]{display:none;}

  input[type=radio] + label.btn{
    padding: 16px 15px;
    margin-bottom: 12px;
    display: inline-block;
    text-transform: capitalize;
    position: relative;
    background: #EFF3F6;
    color: #888888;
    border: 1.5px solid #EFF3F6;
    border-radius: 8px;
    cursor: pointer;
  }

  input[type=radio]:checked + label.btn{
    border: 1.5px solid $green;
    background: $white;
  }

  .total-votes {
    margin: 8px;
    color: $black;
  }
}

// Load more button

.load-more {
  display: none;
  justify-content: center;
  margin: 36px 0 18px;

  button {
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    background: $blue;
    color: $white;
    font-size: 14px;

    &:hover {
      opacity: .8;
    }
  }
}

// List

%card{
  flex: 1;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  background: #fff;
  margin: 8px 0
}

%card-header {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card-list-container{
  
  &:last-child {
    margin-bottom: 72px
  }

  .card-list {
    @extend %card;
  
    .icon-container {
      display: flex;
      align-items: center;
      padding: 0 8px;
    }
  
    .header{
      @extend %card-header;
    
      .title {
        font-size: 20px;
        font-weight: 600;
        color: $black;
        padding: 16px 14px 6px;
      }
      
      .detail {
        font-size: 12px;
        font-weight: 600;
        color: $dark-grey;
        padding: 6px 14px 16px;
      }
    } 
  
    &:hover {
      opacity: .8;
    }
    
  }


}



.card-entry {
  @extend %card;
  margin: 12px 0;

  .header {
    @extend %card-header;

    .title {
      font-size: 16px;
      font-weight: 600;
      color: $black;
      padding: 14px 14px 4px;
    }

    .note {
      font-size: 14px;
      font-weight: 600;
      color: $dark-grey;
      padding: 4px 14px 12px;
    }
  }
}

.card-post-double {
  @extend %card;

  .header {
    @extend %card-header;

    .title {
      font-size: 16px;
      font-weight: 600;
      color: $black;
      padding: 16px 14px 6px;
    }

    .note-container {
      display: flex;
      flex-direction: row;
      align-content: center;

      .note {
        font-size: 16px;
        color: $dark-grey;
        padding: 6px 6px;
        margin: 0 0 12px 8px;
        border: none;
      
        &:hover {
          border: 1px solid $blue;
          border-radius: 4px;
        }
      }
    }
  }
}

.card-post-single {
  @extend %card;
  padding: 16px 0;

  .header {
    @extend %card-header;

    .title {
      font-size: 18px;
      font-weight: 600;
      color: $black;
      padding: 12px 14px;
    }
  }
}

.card-classic {
  display: flex;
  align-items: center;
  border-bottom: .5px solid $black;
  padding: 12px;

  img {
    width: 45px;
    height: 45px;
    border-radius: 24px;
    object-fit: cover;
  }

  .title {
    padding: 0 18px;
    font-weight: 600;
  }
}

.msg-card {
  display: flex;
  flex-direction: column;
  padding: 0 12px;
  margin: 0 8px;
  min-height: 16vh;
  border-radius: 8px;
  background: $grad-ocean;

  span:nth-child(1) {
    margin: 18px 0 16px;
    font-weight: 600;
    color: $light-grey;
  }

  .title { font-size: 13px }
  .greetings { font-size: 18px }

  .message {
    font-size: 14px;
    color: $white;
    margin-bottom: 2rem;
  }
}

.card-item_container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
}

.card-square {
  @extend %card;
  @extend %center;

  flex: 0 0 39%;
  width: 18vh;
  height: 18vh;
  margin: 18px;
  box-shadow: $shadow;

  &:hover {
    opacity: .8
  }
}

// Poll

// Parent layout for poll index
.content-container {
  &:last-child {
    margin-bottom: 72px
  }
}

// poll card index only
.poll-card-container.vote-index {
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.poll-card-container {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  margin: 16px 2px;
  padding: 32px 18px 0;
  background: $white;
  box-shadow: $shadow;

  &:hover {
    opacity: .8
  }

  .info_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .author {
      font-size: 15px;
      font-weight: bold;
      color: #252525;
    }

    .end-time {
      font-size: 12px;
      font-weight: bold;
      color: $dark-grey;
    }
  }

  .question_wrapper {
    margin: 40px 0 48px;

    textarea {
      font-size: 18px;
      font-weight: bold;
      color: $black;
    }

    span {
      font-size: 18px;
      font-weight: bold;
      color: $black;
    }
  }

  .option-input_container {
    input {
      margin-bottom: 12px;
    }
  }

  .settings-container {
    display: flex;
    flex-direction: column;
    margin: 36px 0 48px;

    .title {
      font-size: 12px;
      font-weight: 700;
      color: #252525;
      margin-bottom: 36px
    }

    .setting_wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 18px;

      span {
        font-size: 15px;
        color: $dark-grey;
      }
    }

    .datetime_wrapper {
      display: none;
      margin: 24px 0 210px;
    }
  }

  .vote-btn_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0 36px;

    a {
      margin-top: 24px;
      font-size: 16px;
      font-weight: 600;
      color: $green;
      text-decoration: none;
    }

    span {
      margin-top: 24px;
      font-size: 18px;
      font-weight: 600;
      color: #BEBEBE
    }

    button:disabled,
    button[disabled] {
      opacity: .6
    }
  }
}

/* Navbar */

.navbar {
  display: flex;
  overflow: hidden;
  background-color: $white;
  box-shadow: $shadow;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  transition: margin-left .5s;

  .sec_wrapper {
    display: flex;
    align-items: center;
    padding: 14px;

    &:active {
      background: $light-grey
    }
  }

  .title_wrapper {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 14px 6px 10px;
    font-size: 20px;
    font-weight: 600;
    color: $dark-bg;
  }

  .primary_wrapper {
    display: flex;
    align-items: center;
    padding: 14px;

    a {
      text-decoration: none;
    }

    &:active {
      background: $light-grey
    }

    span {
      color: $blue;
      font-size: 18px;
      font-weight: 600;
      text-decoration: none;
    }
  }

  i {
    display: block;
    color: #121212;
    text-decoration: none;

    &:hover {
      background: #ddd;
      color: $light-grey;
    }
  }
}
/* Bottom Navigation */

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: flex;
  overflow-x: auto;
  transition: margin-left .5s;

  .nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 12px;
    color: #444444;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
  
    &:hover {
      background-color: $white;
    }
  }
  
  .nav__link--active {
    color: $blue;
  }
  
  .nav__icon {
    font-size: 14px;
  }
}


/*  Sidenav */

.sidenav {
  display: flex;
  flex-direction: column;
  height: 100%; /* 100% Full-height */
  width: 250px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 3; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  transform: translateX(-250px);
  background-color: $white; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 15px; /* Place content 60px from the top */
  transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
  box-shadow: $right-shadow;
  -webkit-box-shadow: $right-shadow;
  -moz-box-shadow: $right-shadow;

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 18px;
    padding-right: 12px;

    img {
      height: 16px;
      object-fit: cover;
    }
  }

  .home_wrapper {
    display: flex;
    align-items: center;
    margin: 32px 18px 15px;

    .icon-container {
      padding: 4px 0;
      border-bottom: 1px solid #2B2B2B;
    }

    span {
      font-size: 15px;
      font-weight: 600;
      color: $black;
      padding-left: 16px;
    }
  }

  .account_wrapper {
    display: flex;
    align-items: center;
    justify-self: flex-end;
    margin: 32px 18px 15px;

    .icon-container {
      padding: 4px 0;
    }

    span {
      font-size: 15px;
      font-weight: 600;
      color: $black;
      padding-left: 16px;
    }
  }

  .server-item {
    display: flex;
    visibility: hidden;
    opacity: 0;
    margin-bottom: 12px;
    transition: opacity 1s;

    .border {
      width: 3px;
      border-radius: 0 4px 4px 0;
      background: none;
    }

    .active {
      background: $green;
    }

    .server-info {
      display: flex;
      align-items: center;
      width: 100%;
      height: 40px;

      img {
        width: 36px;
        height: 36px;
        border-radius: 18px;
        margin: 0 12px;
        object-fit: cover;
      }

      .title {
        font-size: 14px;
        font-weight: 600;
        color: $black;
      }
    }
  }

  

  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;

    &:hover {
      color: #f1f1f1;
    }
  }
}

// Server Home

.join-server_wrapper {
  display: flex;
  flex-direction: column;
  margin: 32px 8px;

  label {
    font-size: 12px;
    font-weight: 700;
    color: $black;
  }

  .form_wrapper {
    display: flex;
    align-items: center;

    input {
      margin-right: 12px;
      height: 48px;
    }
  }

  
}

// List Post/Edit

.list-post-container {
  display: flex;
  flex-direction: column;
  min-height: 32vh;
  background: $white;

  .input_wrapper {
    padding: 12px 12px 0;

    input {
      font-size: 18px;
      font-weight: 600;
      color: #181818;
      text-transform: capitalize;
    }

    span {
      font-size: 18px;
      font-weight: 600;
      word-break: break-word;
      color: #181818;
    }
  }

  .content_wrapper {
    flex: 1;
    padding: 12px;

    textarea {
      font-size: 14px;
    }

    p {
      font-size: 14px;
      word-break: break-word;
    }
  }

  .info_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;

    span {
      font-size: 12px;
      font-weight: 600;
      color: #727272;
    }
  }
}

.list-settings-container {
  display: flex;
  flex-direction: column;
  padding: 32px 14px;

  span {
    font-size: 13px;
    font-weight: 600;
    color: $grey;
    text-transform: capitalize;
  }

  .button-group_wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 34px 0 32px;
    clear: both;
  }
  
  .stv-radio-button {
    display: none;
    
    & + label {
      float: left;
      padding: 10px 22px;
      cursor: pointer;
      border: 1px solid #DDDDDD;
      margin-right: -1px;
      color: #545454;
      background-color: $white;
      font-size: 13px;
      
      &:first-of-type {
        border-radius: 4px 0 0 4px;
      }
      
      &:last-of-type {
        border-radius: 0 4px 4px 0;
      }
    }
    
    &:checked + label {
      color: #1492E6;
    }
  }
}

.list-preview_wrapper {
  
  .preview-single { display: block; }
  .preview-double { display: none; }
}

// List View

.add-me_wrapper {
  position: fixed;
  bottom: 3rem;
  right: 2rem;

  button {
    position: absolute;
    bottom: -1rem;
    right: -1rem;
    width: 150px;
    height: 48px;
  }
}

// List Add Me

.add-me-form-container {
  margin-top: 64px;

  form {
    display: flex;
    flex-direction: column;
    margin: 0 16px;

    input {
      margin-bottom: 12px;
    }

    button {
      align-self: flex-end;
      margin-top: 48px
    }
  }
}

.announcement-post-container {
  display: flex;
  flex-direction: column;
  min-height: 32vh;

  .input_wrapper {
    padding: 12px 12px 0;

    input {
      font-size: 18px;
      font-weight: 600;
      color: #181818;
      text-transform: capitalize;
      background: none
    }

    span {
      font-size: 18px;
      font-weight: 600;
      word-break: break-word;
      color: #181818;
    }
  }

  .content_wrapper {
    flex: 1;
    padding: 12px;
    margin-top: 12px;

    textarea {
      font-size: 16px;
    }

    p {
      font-size: 16px;
      word-break: break-word;
    }
  }

  .info_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    margin-top: 4px;

    span {
      font-size: 12px;
      font-weight: 600;
      color: #727272;
    }
  }
}

// Account

.account-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .profile-pic_wrapper {
    position: relative;
    color: $white;
    margin-top: 4vh;

    .avatar {
      width: 130px;
      height: 130px;
      border-radius: 65px;
      background-size:cover;
      background-position:center;
      background-repeat:no-repeat;
    }

    .change-avatar_wrapper {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      bottom: 0;
      width: 130px;
      height: 65px;
      border-bottom-left-radius: 130px;
      border-bottom-right-radius: 130px;
      background: #181818;
      opacity: .8;
    }
  }

  .profile-info_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 48px 0;

    .name {
      font-size: 24px;
      color: $black
    }

    .bio {
      font-size: 15px;
      color: $black;
      text-align: center;
    }

    span {
      font-size: 16px;
      color: $black;
      
      &:nth-child(1){
        margin-bottom: 18px
      }
    }
  }

  .edit-profile_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 92%;
    margin-top: 6vh;

    input {
      margin-bottom: 16px
    }
  }

  .social_wrapper {
    display: flex;
    justify-content: space-between;
    width: 60%;

    .icon-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 48px;
      width: 48px;
      margin-top: 24px;
      border-radius: 32px;
      background: #CBCBCB;

      i {
        color: $white;
      }
    }
  }
}