@import "base.scss";

body {
    margin: 0;
    font-family: $font-family;
}

.playground-container {
    display: flex;
    flex-direction: column;
    background: $white;
    margin: 12px;
    align-items: center;
}

.list-container {
    display: flex;
    flex-direction: column;
    margin: 8px;
}