@import "base.scss";

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: $font-family;
}

.main {
    transition: margin-left .5s;
    margin-top: 72px;
}

.list-container {
    display: flex;
    flex-direction: column;
    margin: 8px;
}

.entry-container {
    margin: 48px 16px 0;
}

// Display

%center {
    display: flex;
    align-items: center;
    justify-content: center;
}