<div class="container">
    <div class="recent_wrapper">
        <span>recent</span>
    </div>
    <div class="card-list-container">

        <!--Pass announcement data object on data property -->
        <%- include('../partials/cards/card-index', {data: 'dataObject'}) %>

    </div>
</div>

<script src="/js/socket/announcement.js"></script>