<div class="container">
    <div class="recent_wrapper">
        <span>recent</span>
    </div>
    <div class="card-list-container">
       <div class="card-list" onclick="navigateNext('someid/view')">
            <div class="header">
                <span class="title">Surat dari rektor</span>
                <span class="detail">Admin - 12 hours ago</span>
            </div>
            <div class="icon-container">
                <i data-feather="chevron-right"></i>
            </div>
        </div> 
    </div>
    
</div>

<script src="/js/socket/announcement.js"></script>