<div class="announcement-post-container">
    <div class="input_wrapper">
        <span class="title">
            Surat Keputusan Rektor ITK
        </span>
    </div>
    <div class="info_wrapper">
        <span id="entries-detail">2 Feb 2021 - Posted by Admin</span>
    </div>
    <div class="content_wrapper">
        <p>Berdasarkan keputusan Prof Budi Santosa ITK akan mengadakan expo</p>
    </div>
</div>