<div class="account-container">
    <div class="profile-pic_wrapper">
        <img src="/images/aurora.jpg" alt="User Profile Picture">
    </div>
    <div class="edit-profile_wrapper">
        <input class="txt-field-fill_grey" autocomplete="off" type="text" name="name" value="Russel Van Dulken" placeholder="Name">
        <input class="txt-field-fill_grey" autocomplete="off" type="text" name="nickname" value="Russel" placeholder="Nickname">
        <input class="txt-field-fill_grey" autocomplete="off" type="text" name="nim" value="10201043" placeholder="NIM">
        <input class="txt-field-fill_grey" autocomplete="off" type="text" name="bio" value="I'm a professional CSGO player currently playing in Team Liquid as rifler" placeholder="Bio">
    </div>
</div>