<nav class="bottom-nav">
  <a href="javascript:navigateReplace('home')" class="nav__link home_icon">
    <i data-feather="home"></i>
    <span class="nav__text">Home</span>
  </a>
  <a href="javascript:navigateReplace('list')" class="nav__link list_icon">
    <i data-feather="list"></i>
    <span class="nav__text">List</span>
  </a>
  <a href="javascript:navigateReplace('poll')" class="nav__link poll_icon">
    <i data-feather="pie-chart"></i>
    <span class="nav__text">Poll</span>
  </a>
  <a href="javascript:navigateReplace('announcement')" class="nav__link announcement_icon">
    <i data-feather="info"></i>
    <span class="nav__text">Announcement</span>
  </a>
</nav>
