<div id="mySidenav" class="sidenav">
    <div class="logo-container">
        <img src="/images/app/logo.png" alt="">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    </div>

    <div class="home_wrapper" onclick="navigateReplaceAll('/')">
        <div class="icon-container">
            <i data-feather="home"></i>
        </div>
        <span>Home</span>
    </div>
    
    <div class="server-container">
        <% userServers.forEach(function(server) {  %>
            <div class="server-item" id="<%= server.id %>" onclick="navigateReplaceAll('/s/<%= server.id %>/home')">
                <div class="border"></div>
                <div class="server-info">
                    <img src="<%= server.icon %>" alt="server logo">
                    <span class="title"><%= server.name %></span>
                </div>  
            </div>
        <%  }) %>
    </div>    
</div>
