<div class="container">
    <div class="card-classic" onclick="navigateReplace('/mahasiswa/id/member_id/view')">
        <img src="https://www.gstatic.com/tv/thumb/persons/174810/174810_v9_ba.jpg" alt="Profile Pic">
        <span class="title">Floyd Mayweather</span>
    </div>
    <div class="card-classic" onclick="navigateReplace('/mahasiswa/id/member_id2/view')">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/54/Wolfgang-amadeus-mozart_1-revert.jpg/1200px-Wolfgang-amadeus-mozart_1-revert.jpg" alt="Profile Pic">
        <span class="title">Wolfgang Amadeus Mozart</span>
    </div>
</div>