<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="manifest" href="manifest.webmanifest">

</head>
<body>
    <div class="divAdd" style="display: none;">
        <button id="btnAdd">Add to your home screen</button>
    </div>

    <div class="divInstalled" style="display: none;">
        <p>You have installed your app</p>
        <p id="txtBrowser" style="display: none;">Open your app or <a href="/">Go to website</a></p>
        <p id="txtMobile" style="display: none;"><a href="/">Go to home</a></p>
    </div>

    <script src="/js/pwa.js"></script>
</body>
</html>