<div class="container">
  <div class="msg-card">
    <span class="greetings">Hello, welcome to Enlisted!</span>
    <span class="message">You can join a server by simply fill the server code below, or ask your friend for the invite link.</span>
  </div>

  <div class="join-server_wrapper">
      <label for="server_code">Join a server</label>
      <form action="/api/server/join" method="post">
          <div class="form_wrapper">
              <input class="txt-field-fill_grey" autocomplete="off" type="text" id="server_code" placeholder="Server Code" name="server_code">
              <button class="btn-join" type="submit">
                  <i data-feather="send" class="btn-icon"></i>
              </button>
          </div>
      </form>
  </div>

<!-- Toast -->
<script type="text/javascript">
    if('<%= messages.success %>'){
        showToast('success','<%= messages.success %>')
    }
    if('<%= messages.err %>'){
        showToast('failed','<%= messages.err %>')
    }
</script>
