/* config */
button, input, textarea {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

div, span, p {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Overpass";
}

.main {
  transition: margin-left 0.5s;
  margin-top: 72px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 8px;
}

.list-container {
  display: flex;
  flex-direction: column;
  margin: 8px;
}

.entry-container {
  margin: 48px 16px 0;
}

.card-square {
  display: flex;
  align-items: center;
  justify-content: center;
}

.playground-container {
  display: flex;
  flex-direction: column;
  background: #fff;
  margin: 12px;
  align-items: center;
}
.playground-container input {
  margin: 12px 0;
}

/* config */
button, input, textarea {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

div, span, p {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.recent_wrapper {
  padding-bottom: 16px;
}
.recent_wrapper span {
  font-weight: 600;
  font-size: 13px;
  color: #6E6E6E;
  text-transform: uppercase;
}

.txt-field_white:focus, .txt-field_white, .txt-field-fill_grey {
  color: #3d3d3d;
  border: none;
  border-radius: 8px;
  padding: 16px 10px;
  width: 100%;
  font-size: 14px;
}

.txt-field-search {
  color: #3d3d3d;
  border: none;
  border-radius: 4px;
  padding: 10px 12px;
  margin-right: 8px;
  width: 100%;
  font-size: 12px;
  background: #f5f5f5;
}

.txt-field-fill_grey {
  background: #EEEEEE;
}

.txt-field_white {
  background: #fff;
}

.txt-field_white:focus {
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.txt-field_line {
  resize: none;
  overflow: hidden;
  width: 100%;
  font-size: 15px;
  color: #3d3d3d;
  border: none;
  border-bottom: 0.5px solid #707070;
  padding: 12px 0;
  margin: 8px 0;
  background: none;
}

.txt-field_transparent {
  border: none;
  background: none;
  width: 100%;
}

.btn-edit-profile, .btn-add-option, .btn-join, .btn-sm, .btn-lg {
  height: 48px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(90deg, #3d38a5 0%, #44a7aa 100%);
  color: #fff;
  margin: 12px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: opacity 0.1s;
}
.btn-edit-profile:active, .btn-add-option:active, .btn-join:active, .btn-sm:active, .btn-lg:active {
  opacity: 0.8;
}
.btn-edit-profile:disabled, .btn-add-option:disabled, .btn-join:disabled, .btn-sm:disabled, .btn-lg:disabled {
  opacity: 0.5;
}

.btn-rounded {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 40%;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  border: none;
  border-radius: 24px;
  background: #fff;
  color: #3E41A6;
  margin: 12px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.btn-rounded:active {
  opacity: 0.8;
}

.btn-lg {
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
}

.btn-sm {
  width: 32%;
  font-size: 14px;
  text-transform: capitalize;
}

.btn-join {
  width: 18%;
  padding-left: 0;
  background: #3E41A6;
}

.btn-icon {
  transform: rotate(45deg);
}

.btn-add-option {
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  background: #44A7AA;
}

.btn-edit-profile {
  width: 43%;
  height: 36px;
  color: #3d3d3d;
  font-size: 13px;
  font-weight: 600;
  text-transform: capitalize;
  background: #EEEEEE;
}

.progress-bar_wrapper {
  margin-bottom: 12px;
}
.progress-bar_wrapper:last-child(1) {
  margin-bottom: 0;
}
.progress-bar_wrapper .poll-relative {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.progress-bar_wrapper .poll-relative span {
  position: absolute;
  font-size: 15px;
  padding-left: 15px;
}
.progress-bar_wrapper .poll-relative .percentage {
  right: 12vw;
  color: #3d3d3d;
}

.vote-count-info {
  margin: 0 4px 0;
  font-size: 12px;
  color: #6E6E6E;
}

.progress-bar {
  border: none;
  border-radius: 8px;
  width: 100%;
  background: #EFF3F6;
}
.progress-bar div {
  display: flex;
  align-items: center;
  height: 48px;
  width: 0%;
  background: #44A7AA;
  border-radius: 8px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #44A7AA;
}

input:focus + .slider {
  box-shadow: 0 0 1px #44A7AA;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.poll-wrapper {
  display: flex;
  flex-direction: column;
}
.poll-wrapper input[type=radio] {
  display: none;
}
.poll-wrapper input[type=radio] + label.btn {
  padding: 16px 15px;
  margin-bottom: 12px;
  display: inline-block;
  text-transform: capitalize;
  position: relative;
  background: #EFF3F6;
  color: #888888;
  border: 1.5px solid #EFF3F6;
  border-radius: 8px;
  cursor: pointer;
}
.poll-wrapper input[type=radio]:checked + label.btn {
  border: 1.5px solid #44A7AA;
  background: #fff;
}
.poll-wrapper .total-votes {
  margin: 8px;
  color: #3d3d3d;
}

.load-more {
  display: none;
  justify-content: center;
  margin: 36px 0 18px;
}
.load-more button {
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  background: #3E41A6;
  color: #fff;
  font-size: 14px;
}
.load-more button:hover {
  opacity: 0.8;
}

.card-square, .card-post-single, .card-post-double, .card-entry, .card-list-container .card-list {
  flex: 1;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  background: #fff;
  margin: 8px 0;
}

.card-post-single .header, .card-post-double .header, .card-entry .header, .card-list-container .card-list .header {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card-list-container:last-child {
  margin-bottom: 72px;
}
.card-list-container .card-list .icon-container {
  display: flex;
  align-items: center;
  padding: 0 8px;
}
.card-list-container .card-list .header .title {
  font-size: 20px;
  font-weight: 600;
  color: #3d3d3d;
  padding: 16px 14px 6px;
}
.card-list-container .card-list .header .detail {
  font-size: 12px;
  font-weight: 600;
  color: #727272;
  padding: 6px 14px 16px;
}
.card-list-container .card-list:hover {
  opacity: 0.8;
}

.card-entry {
  margin: 12px 0;
}
.card-entry .header .title {
  font-size: 16px;
  font-weight: 600;
  color: #3d3d3d;
  padding: 14px 14px 4px;
}
.card-entry .header .note {
  font-size: 14px;
  font-weight: 600;
  color: #727272;
  padding: 4px 14px 12px;
}

.card-post-double .header .title {
  font-size: 16px;
  font-weight: 600;
  color: #3d3d3d;
  padding: 16px 14px 6px;
}
.card-post-double .header .note-container {
  display: flex;
  flex-direction: row;
  align-content: center;
}
.card-post-double .header .note-container .note {
  font-size: 16px;
  color: #727272;
  padding: 6px 6px;
  margin: 0 0 12px 8px;
  border: none;
}
.card-post-double .header .note-container .note:hover {
  border: 1px solid #3E41A6;
  border-radius: 4px;
}

.card-post-single {
  padding: 16px 0;
}
.card-post-single .header .title {
  font-size: 18px;
  font-weight: 600;
  color: #3d3d3d;
  padding: 12px 14px;
}

.card-classic {
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid #3d3d3d;
  padding: 12px;
}
.card-classic img {
  width: 45px;
  height: 45px;
  border-radius: 24px;
  object-fit: cover;
}
.card-classic .title {
  padding: 0 18px;
  font-weight: 600;
}

.msg-card {
  display: flex;
  flex-direction: column;
  padding: 0 12px;
  margin: 0 8px;
  min-height: 16vh;
  border-radius: 8px;
  background: linear-gradient(90deg, #3d38a5 0%, #44a7aa 100%);
}
.msg-card span:nth-child(1) {
  margin: 18px 0 16px;
  font-weight: 600;
  color: #EEEEEE;
}
.msg-card .title {
  font-size: 13px;
}
.msg-card .greetings {
  font-size: 18px;
}
.msg-card .message {
  font-size: 14px;
  color: #fff;
  margin-bottom: 2rem;
}

.card-item_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 32px;
}

.card-square {
  flex: 0 0 39%;
  width: 18vh;
  height: 18vh;
  margin: 18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card-square:hover {
  opacity: 0.8;
}

.content-container:last-child {
  margin-bottom: 72px;
}

.poll-card-container.vote-index {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.poll-card-container {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  margin: 16px 2px;
  padding: 32px 18px 0;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.poll-card-container:hover {
  opacity: 0.8;
}
.poll-card-container .info_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.poll-card-container .info_wrapper .author {
  font-size: 15px;
  font-weight: bold;
  color: #252525;
}
.poll-card-container .info_wrapper .end-time {
  font-size: 12px;
  font-weight: bold;
  color: #727272;
}
.poll-card-container .question_wrapper {
  margin: 40px 0 48px;
}
.poll-card-container .question_wrapper textarea {
  font-size: 18px;
  font-weight: bold;
  color: #3d3d3d;
}
.poll-card-container .question_wrapper span {
  font-size: 18px;
  font-weight: bold;
  color: #3d3d3d;
}
.poll-card-container .option-input_container input {
  margin-bottom: 12px;
}
.poll-card-container .settings-container {
  display: flex;
  flex-direction: column;
  margin: 36px 0 48px;
}
.poll-card-container .settings-container .title {
  font-size: 12px;
  font-weight: 700;
  color: #252525;
  margin-bottom: 36px;
}
.poll-card-container .settings-container .setting_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 18px;
}
.poll-card-container .settings-container .setting_wrapper span {
  font-size: 15px;
  color: #727272;
}
.poll-card-container .settings-container .datetime_wrapper {
  display: none;
  margin: 24px 0 210px;
}
.poll-card-container .vote-btn_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px 0 36px;
}
.poll-card-container .vote-btn_wrapper a {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 600;
  color: #44A7AA;
  text-decoration: none;
}
.poll-card-container .vote-btn_wrapper span {
  margin-top: 24px;
  font-size: 18px;
  font-weight: 600;
  color: #BEBEBE;
}
.poll-card-container .vote-btn_wrapper button:disabled,
.poll-card-container .vote-btn_wrapper button[disabled] {
  opacity: 0.6;
}

/* Navbar */
.navbar {
  display: flex;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  transition: margin-left 0.5s;
}
.navbar .sec_wrapper {
  display: flex;
  align-items: center;
  padding: 14px;
}
.navbar .sec_wrapper:active {
  background: #EEEEEE;
}
.navbar .title_wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 14px 6px 10px;
  font-size: 20px;
  font-weight: 600;
  color: #181818;
}
.navbar .primary_wrapper {
  display: flex;
  align-items: center;
  padding: 14px;
}
.navbar .primary_wrapper a {
  text-decoration: none;
}
.navbar .primary_wrapper:active {
  background: #EEEEEE;
}
.navbar .primary_wrapper span {
  color: #3E41A6;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}
.navbar i {
  display: block;
  color: #121212;
  text-decoration: none;
}
.navbar i:hover {
  background: #ddd;
  color: #EEEEEE;
}

/* Bottom Navigation */
.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: flex;
  overflow-x: auto;
  transition: margin-left 0.5s;
}
.bottom-nav .nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 12px;
  color: #444444;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}
.bottom-nav .nav__link:hover {
  background-color: #fff;
}
.bottom-nav .nav__link--active {
  color: #3E41A6;
}
.bottom-nav .nav__icon {
  font-size: 14px;
}

/*  Sidenav */
.sidenav {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* 100% Full-height */
  width: 250px;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 3;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  transform: translateX(-250px);
  background-color: #fff;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 15px;
  /* Place content 60px from the top */
  transition: 0.3s;
  /* 0.5 second transition effect to slide in the sidenav */
  box-shadow: -1px 1px 9px 1px rgba(136, 136, 136, 0.75);
  -webkit-box-shadow: -1px 1px 9px 1px rgba(136, 136, 136, 0.75);
  -moz-box-shadow: -1px 1px 9px 1px rgba(136, 136, 136, 0.75);
}
.sidenav .logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 12px 0 18px;
}
.sidenav .logo-container img {
  height: 16px;
  object-fit: cover;
}
.sidenav .home_wrapper {
  display: flex;
  align-items: center;
  margin: 32px 18px 15px;
}
.sidenav .home_wrapper .icon-container {
  padding: 4px 0;
  border-bottom: 1px solid #2B2B2B;
}
.sidenav .home_wrapper span {
  font-size: 15px;
  font-weight: 600;
  color: #3d3d3d;
  padding-left: 16px;
}
.sidenav .account_wrapper {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  margin: 32px 18px 15px;
}
.sidenav .account_wrapper .icon-container {
  padding: 4px 0;
}
.sidenav .account_wrapper span {
  font-size: 15px;
  font-weight: 600;
  color: #3d3d3d;
  padding-left: 16px;
}
.sidenav .server-item {
  display: flex;
  visibility: hidden;
  opacity: 0;
  margin-bottom: 12px;
  transition: opacity 1s;
}
.sidenav .server-item .border {
  width: 3px;
  border-radius: 0 4px 4px 0;
  background: none;
}
.sidenav .server-item .active {
  background: #44A7AA;
}
.sidenav .server-item .server-info {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
}
.sidenav .server-item .server-info img {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  margin: 0 12px;
  object-fit: cover;
}
.sidenav .server-item .server-info .title {
  font-size: 14px;
  font-weight: 600;
  color: #3d3d3d;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}

.join-server_wrapper {
  display: flex;
  flex-direction: column;
  margin: 32px 8px;
}
.join-server_wrapper label {
  font-size: 12px;
  font-weight: 700;
  color: #3d3d3d;
}
.join-server_wrapper .form_wrapper {
  display: flex;
  align-items: center;
}
.join-server_wrapper .form_wrapper input {
  margin-right: 12px;
  height: 48px;
}

.list-post-container {
  display: flex;
  flex-direction: column;
  min-height: 32vh;
  background: #fff;
}
.list-post-container .input_wrapper {
  padding: 12px 12px 0;
}
.list-post-container .input_wrapper input {
  font-size: 18px;
  font-weight: 600;
  color: #181818;
  text-transform: capitalize;
}
.list-post-container .input_wrapper span {
  font-size: 18px;
  font-weight: 600;
  word-break: break-word;
  color: #181818;
}
.list-post-container .content_wrapper {
  flex: 1;
  padding: 12px;
}
.list-post-container .content_wrapper textarea {
  font-size: 14px;
}
.list-post-container .content_wrapper p {
  font-size: 14px;
  word-break: break-word;
}
.list-post-container .info_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}
.list-post-container .info_wrapper span {
  font-size: 12px;
  font-weight: 600;
  color: #727272;
}

.list-settings-container {
  display: flex;
  flex-direction: column;
  padding: 32px 14px;
}
.list-settings-container span {
  font-size: 13px;
  font-weight: 600;
  color: #6E6E6E;
  text-transform: capitalize;
}
.list-settings-container .button-group_wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 34px 0 32px;
  clear: both;
}
.list-settings-container .stv-radio-button {
  display: none;
}
.list-settings-container .stv-radio-button + label {
  float: left;
  padding: 10px 22px;
  cursor: pointer;
  border: 1px solid #DDDDDD;
  margin-right: -1px;
  color: #545454;
  background-color: #fff;
  font-size: 13px;
}
.list-settings-container .stv-radio-button + label:first-of-type {
  border-radius: 4px 0 0 4px;
}
.list-settings-container .stv-radio-button + label:last-of-type {
  border-radius: 0 4px 4px 0;
}
.list-settings-container .stv-radio-button:checked + label {
  color: #1492E6;
}

.list-preview_wrapper .preview-single {
  display: block;
}
.list-preview_wrapper .preview-double {
  display: none;
}

.add-me_wrapper {
  position: fixed;
  bottom: 3rem;
  right: 2rem;
}
.add-me_wrapper button {
  position: absolute;
  bottom: -1rem;
  right: -1rem;
  width: 150px;
  height: 48px;
}

.add-me-form-container {
  margin-top: 64px;
}
.add-me-form-container form {
  display: flex;
  flex-direction: column;
  margin: 0 16px;
}
.add-me-form-container form input {
  margin-bottom: 12px;
}
.add-me-form-container form button {
  align-self: flex-end;
  margin-top: 48px;
}

.announcement-post-container {
  display: flex;
  flex-direction: column;
  min-height: 32vh;
}
.announcement-post-container .input_wrapper {
  padding: 12px 12px 0;
}
.announcement-post-container .input_wrapper input {
  font-size: 18px;
  font-weight: 600;
  color: #181818;
  text-transform: capitalize;
  background: none;
}
.announcement-post-container .input_wrapper span {
  font-size: 18px;
  font-weight: 600;
  word-break: break-word;
  color: #181818;
}
.announcement-post-container .content_wrapper {
  flex: 1;
  padding: 12px;
  margin-top: 12px;
}
.announcement-post-container .content_wrapper textarea {
  font-size: 16px;
}
.announcement-post-container .content_wrapper p {
  font-size: 16px;
  word-break: break-word;
}
.announcement-post-container .info_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  margin-top: 4px;
}
.announcement-post-container .info_wrapper span {
  font-size: 12px;
  font-weight: 600;
  color: #727272;
}

.account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.account-container .profile-pic_wrapper {
  position: relative;
  color: #fff;
  margin-top: 4vh;
}
.account-container .profile-pic_wrapper .avatar {
  width: 130px;
  height: 130px;
  border-radius: 65px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.account-container .profile-pic_wrapper .change-avatar_wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  bottom: 0;
  width: 130px;
  height: 65px;
  border-bottom-left-radius: 130px;
  border-bottom-right-radius: 130px;
  background: #181818;
  opacity: 0.8;
}
.account-container .profile-info_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 48px 0;
}
.account-container .profile-info_wrapper .name {
  font-size: 24px;
  color: #3d3d3d;
}
.account-container .profile-info_wrapper .bio {
  font-size: 15px;
  color: #3d3d3d;
  text-align: center;
}
.account-container .profile-info_wrapper span {
  font-size: 16px;
  color: #3d3d3d;
}
.account-container .profile-info_wrapper span:nth-child(1) {
  margin-bottom: 18px;
}
.account-container .edit-profile_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 92%;
  margin-top: 6vh;
}
.account-container .edit-profile_wrapper input {
  margin-bottom: 16px;
}
.account-container .social_wrapper {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.account-container .social_wrapper .icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  margin-top: 24px;
  border-radius: 32px;
  background: #CBCBCB;
}
.account-container .social_wrapper .icon-container i {
  color: #fff;
}
.account-container .social_wrapper .icon-container:hover {
  cursor: pointer;
  background: #EEEEEE;
  transition: all 0.3s;
}

.overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: block;
  width: 100%;
  /* Full width (cover the whole page) */
  height: 0;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 3;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
  transition: opacity 0.3s;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  color: #fff;
  text-align: center;
  border-radius: 125px;
  padding: 16px;
  position: fixed;
  z-index: 3;
  left: 50%;
  bottom: 64px;
  font-size: 15px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 34px;
    opacity: 0;
  }
  to {
    bottom: 64px;
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    bottom: 34px;
    opacity: 0;
  }
  to {
    bottom: 64px;
    opacity: 1;
  }
}
@-webkit-keyframes fadeout {
  from {
    bottom: 64px;
    opacity: 1;
  }
  to {
    bottom: 34px;
    opacity: 0;
  }
}
@keyframes fadeout {
  from {
    bottom: 64px;
    opacity: 1;
  }
  to {
    bottom: 34px;
    opacity: 0;
  }
}
.anim-zoom {
  animation: 0.8s ease-out 0s 1 zoomIn;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
.sk-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.auth-container {
  display: flex;
  flex-direction: column;
  margin: 16px;
}
.auth-container .header {
  color: #3d3d3d;
  font-size: 26px;
  font-weight: bold;
  margin: 18px 0 10px;
}
.auth-container .subheader {
  color: #252525;
  font-size: 15px;
  margin-bottom: 64px;
}
.auth-container .logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12vh 0 24vh;
}
.auth-container .logo-wrapper img {
  width: 38%;
}
.auth-container form {
  width: 100%;
}
.auth-container form input {
  margin-bottom: 12px;
}
.auth-container form .btn-signin {
  margin: 32px 0;
}
.auth-container form .error-msg {
  font-size: 14px;
  color: crimson;
}
.auth-container form .success-msg {
  font-size: 14px;
  color: green;
}
.auth-container .forgot-password {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #3d3d3d;
}
.auth-container .signup-option, .auth-container .signin-option {
  margin-top: 60px;
  margin-bottom: 81px;
  font-size: 12px;
  align-self: center;
}
.auth-container .signup-option a, .auth-container .signin-option a {
  font-weight: 700;
}
.auth-container .copyright {
  font-size: 12px;
  align-self: center;
}

.reset-password-container {
  display: flex;
  flex-direction: column;
  margin: 0 8px;
}
.reset-password-container h4 {
  font-size: 16px;
  color: #3d3d3d;
  margin-bottom: 8vh;
}
.reset-password-container a {
  text-decoration: none;
}
.reset-password-container .btn-lg.btn-signin {
  margin: 12px 0 8vh;
}
.reset-password-container .back-to-signin {
  margin-top: 12px;
}
.reset-password-container .back-to-signin a {
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
