body {
  margin: 0;
  font-family: "Overpass";
}

.playground-container {
  display: flex;
  flex-direction: column;
  background: #fff;
  margin: 12px;
  align-items: center;
}

.list-container {
  display: flex;
  flex-direction: column;
  margin: 8px;
}

button, input {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.txt-field_white:focus, .txt-field_white, .txt-field-fill_grey {
  color: #3d3d3d;
  border: none;
  border-radius: 8px;
  padding: 16px 10px;
  margin: 8px 0;
  width: 90%;
  font-size: 14px;
}

.txt-field-fill_grey {
  background: #EEEEEE;
}

.txt-field_white {
  background: #fff;
}

.txt-field_white:focus {
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.txt-field_line {
  width: 100%;
  font-size: 15px;
  color: #3d3d3d;
  border: none;
  border-bottom: 0.5px solid #707070;
  padding: 12px 0;
  margin: 8px 0;
  outline: none;
}

.btn-edit-profile, .btn-add-option, .btn-join, .btn-sm, .btn-lg {
  height: 48px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(90deg, #3d38a5 0%, #44a7aa 100%);
  color: #fff;
  margin: 12px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.btn-lg {
  width: 90%;
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
}

.btn-sm {
  width: 32%;
  font-size: 14px;
  text-transform: capitalize;
}

.btn-join {
  width: 15%;
  padding-left: 0;
  background: #3E41A6;
}

.btn-icon {
  transform: rotate(45deg);
}

.btn-add-option {
  width: 90%;
  font-size: 15px;
  font-weight: 600;
  background: #44A7AA;
}

.btn-edit-profile {
  width: 43%;
  height: 36px;
  color: #3d3d3d;
  font-size: 13px;
  font-weight: 600;
  text-transform: capitalize;
  background: #EEEEEE;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #44A7AA;
}

input:focus + .slider {
  box-shadow: 0 0 1px #44A7AA;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.poll-wrapper {
  display: flex;
  flex-direction: column;
}
.poll-wrapper input[type=radio] {
  display: none;
}
.poll-wrapper input[type=radio] + label.btn {
  padding: 16px 15px;
  margin: 6px 0;
  display: inline-block;
  text-transform: capitalize;
  position: relative;
  background: #EFF3F6;
  color: #888888;
  border: 1.5px solid #EFF3F6;
  border-radius: 8px;
  cursor: pointer;
}
.poll-wrapper input[type=radio]:checked + label.btn {
  border: 1.5px solid #44A7AA;
  background: #fff;
}

.card-post-single, .card-post-double, .card-entry, .card-list {
  flex: 1;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  background: #fff;
  margin: 8px 0;
}

.card-post-single .header, .card-post-double .header, .card-entry .header, .card-list .header {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card-list .icon-container {
  display: flex;
  align-items: center;
  padding: 0 8px;
}
.card-list .header .title {
  font-size: 20px;
  font-weight: 600;
  color: #3d3d3d;
  padding: 16px 14px 6px;
}
.card-list .header .detail {
  font-size: 12px;
  font-weight: 600;
  color: #727272;
  padding: 6px 14px 16px;
}

.card-entry .header .title {
  font-size: 16px;
  font-weight: 600;
  color: #3d3d3d;
  padding: 16px 14px 6px;
}
.card-entry .header .note {
  font-size: 14px;
  font-weight: 600;
  color: #727272;
  padding: 6px 14px 16px;
}

.card-post-double .header .title {
  font-size: 16px;
  font-weight: 600;
  color: #3d3d3d;
  padding: 16px 14px 6px;
}
.card-post-double .header .note-container {
  display: flex;
  flex-direction: row;
  align-content: center;
}
.card-post-double .header .note-container .note {
  font-size: 16px;
  color: #727272;
  padding: 6px 6px;
  margin: 0 0 12px 8px;
  border: none;
}
.card-post-double .header .note-container .note:hover {
  border: 1px solid #3E41A6;
  border-radius: 4px;
}

.card-post-single {
  padding: 16px 0;
}
.card-post-single .header .title {
  font-size: 18px;
  font-weight: 600;
  color: #3d3d3d;
  padding: 12px 14px;
}

/* Bottom Navigation */
.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: flex;
  overflow-x: auto;
}
.bottom-nav .nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 12px;
  color: #444444;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}
.bottom-nav .nav__link:hover {
  background-color: #fff;
}
.bottom-nav .nav__link--active {
  color: #3E41A6;
}
.bottom-nav .nav__icon {
  font-size: 14px;
}

/*# sourceMappingURL=style.css.map */
