<div class="account-container">
    <div class="profile-pic_wrapper">
        <img src="/images/aurora.jpg" alt="User Profile Picture">
    </div>
    <div class="profile-info_wrapper">
        <span class="name"> Russel Van Dulken </span>
        <span class="bio">Russel David Kevin Van Dulken, better known as Twistzz, is a Canadian professional Counter-Strike:  Global Offensive player.</span>
    </div>
    <div class="social_wrapper">
        <div class="icon-container" onclick="openNewTab('tel:081237791879')">
            <i data-feather="phone"></i>
        </div>
        <div class="icon-container" onclick="openNewTab('https://www.instagram.com/haydardzaky_')">
            <i data-feather="instagram"></i>
        </div>
        <div class="icon-container" onclick="openNewTab('https://www.github.com/hdmonster')">
            <i data-feather="github"></i>
        </div>
    </div>
</div>