<div class="container">
    <% allMahasiswa.forEach(mahasiswa => { %>
        <div class="card-classic" onclick="navigateNext('id/<%= mahasiswa.id %>/view')">
            <img src="<%= mahasiswa.photoURL %>" alt="Profile Pic">
            <span class="title"><%= mahasiswa.fullName %></span>
        </div>
    <% }); %>
</div>