<div class="navbar">
    <div class="sec_wrapper" onclick="back()">
        <i data-feather="arrow-left"></i>
    </div>
    <div class="title_wrapper">
        <span><%- nav_title %></span>
    </div>
    <div class="primary_wrapper" onclick="navigateNext('search')">
        <i data-feather="search"></i>
    </div>
</div>