<div class="navbar">
    <div class="sec_wrapper" onclick="openNav()">
        <i data-feather="menu"></i>
    </div>
    <div class="title_wrapper">
        <span><%- nav_title %></span>
    </div>
</div>