<div class="navbar">
    <div class="sec_wrapper" onclick="back()">
        <i data-feather="arrow-left"></i>
    </div>
    <div class="title_wrapper">
        <input class="txt-field-search" autocomplete="off" type="text" onkeyup="filterName()" id="search_bar" placeholder="Search mahasiswa.." autofocus>
    </div>
</div>