<div class="container">
    <div class="msg-card">
        <h5>Message of the day</h5>
        <span>Spot on!</span>
    </div>
    <div class="card-item_container">
        <div class="card-square">
            <span>Mahasiswa</span>
        </div>
        <div class="card-square">
            <span>BPH</span>
        </div>
    </div>
</div>