<div class="container">
    <div class="msg-card">
        <span class="title">Message of the day</span>
        <span class="message">Have a nice day!</span>
    </div>
    <div class="card-item_container">
        <div class="card-square" onclick="navigateReplace('mahasiswa')">
            <span>Mahasiswa</span>
        </div>
        <div class="card-square">
            <span>BPH</span>
        </div>
    </div>
</div>