<div class="list-post-container">
    <div class="input_wrapper">
        <span class="title">
            Tidak bisa hadir gmeet
        </span>
    </div>
    <div class="content_wrapper">
        <p>Yang merasa tidak bisa hadir boleh ngelist namanya</p>
    </div>
    <div class="info_wrapper">
        <span id="entries-count">2 Entries</span>
        <span id="entries-detail">2 Feb 2021 - Posted by Russel</span>
    </div>
</div>

<div class="add-me-form-container">
    <form action="#">
        <input class="txt-field_white" autocomplete="off" type="text" name="nama" placeholder="Nama">
        <input class="txt-field_white" autocomplete="off" type="text" name="alasan" placeholder="Alasan"> 
        <button class="btn-rounded" type="submit">submit</button>
    </form>
    
</div>
