<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@400;600;700&display=swap" rel="stylesheet">
    
    <script src="https://unpkg.com/feather-icons"></script>

    <link rel="stylesheet" href="/css/list.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="header">
                <span class="title loading"></span>
                <span class="detail loading"></span>
            </div>
            <div class="icon-container">
                <i data-feather="chevron-right"></i>
            </div>
        </div>
        <div class="card">
            <div class="header">
                <span class="title">Custom</span>
                <span class="detail">today - Jake</span>
            </div>
            <div class="icon-container">
                <i data-feather="chevron-right"></i>
            </div>
        </div>
    </div>

    <script>
        feather.replace()
    </script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/socket/list.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
</body>
</html>