<div class="list-post-container">
    <div class="input_wrapper">
        <span class="title">
            Tidak bisa hadir gmeet
        </span>
    </div>
    <div class="content_wrapper">
        <p>Yang merasa tidak bisa hadir boleh ngelist namanya</p>
    </div>
    <div class="info_wrapper">
        <span id="entries-count">2 Entries</span>
        <span id="entries-detail">2 Feb 2021 - Posted by Russel</span>
    </div>
</div>

<div class="entry-container">
    <div class="card-entry">
        <div class="header">
            <span class="title">James Sullivan</span>
            <span class="note">Vacation</span>
        </div>
    </div>
    <div class="card-entry">
        <div class="header">
            <span class="title">Russel Van Dulken</span>
            <span class="note">Party</span>
        </div>
    </div>
</div>

<div class="add-me_wrapper" onclick="navigateReplace('add-me')">
    <button class="btn-rounded">
        <i data-feather="plus"></i> 
        add me
    </button>
</div>

<script src="/js/component.js"></script>