<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="anim-zoom ease">
    <div class="anim-zoom ease">
        <h2>Enlisted</h2>
        <h5>Create list, poll, and announcement in real time.</h5>
    </div>
    
</body>
</html>