<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;600&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="/css/style.css">

    <script src="https://unpkg.com/feather-icons"></script>

    <title><%= title %></title>
</head>
<body>
    <div class="playground-container">
        <button class="btn-lg">sign up</button>
        <button class="btn-lg">vote</button>
        <button class="btn-add-option">Add another option</button>
        <button class="btn-sm">add me</button>
        <button class="btn-edit-profile">edit profile</button>
        <button class="btn-join"><i data-feather="send" class="btn-icon"></i></button>
        <!-- Rounded switch -->
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>

        <div class="poll-wrapper">
            <input type="radio" id="vote-btn-1" name="vote-option">
            <label for="vote-btn-1" class="btn">Option 1</label>

            <input type="radio" id="vote-btn-2" name="vote-option">
            <label for="vote-btn-2" class="btn">Option 2</label>

            <input type="radio" id="vote-btn-3" name="vote-option">
            <label for="vote-btn-3" class="btn">Option 3</label>
        </div>
    </div>

    <%- include ../partials/bottomnav.ejs %>

    <script>
        feather.replace()
    </script>
</body>
</html>