<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;600&display=swap" rel="stylesheet">  

    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="playground-container">
        <input class="txt-field-fill_grey" autocomplete="off" type="text" name="email" placeholder="Email">
        <input class="txt-field-fill_grey" autocomplete="off" type="password" name="password" placeholder="Password">
        
        <input class="txt-field_white" autocomplete="off" type="text" name="nama" placeholder="Nama">
        <input class="txt-field_white" autocomplete="off" type="text" name="alasan" placeholder="Alasan">
        
        <input class="txt-field_line" autocomplete="off" type="text" id="txtContent" name="content" placeholder="Write content..">
        
    </div>
</body>
</html>