<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://unpkg.com/feather-icons"></script>

    <title><%= title %></title>
</head>
<body bgcolor="#f9f9f9">
    <div class="list-container">
        <div class="card-list">
            <div class="header">
                <span class="title">Futsal besok di bsc</span>
                <span class="detail">Jake - 2 hours ago</span>
            </div>
            <div class="icon-container">
                <i data-feather="chevron-right"></i>
            </div>
        </div>
        <div class="card-entry">
            <div class="header">
                <span class="title">James Sullivan</span>
                <span class="note">Vacation</span>
            </div>
        </div>
        <div class="card-post-double">
            <div class="header">
                <span class="title">Nama</span>
                <div class="note-container">
                    <input type="text" class="note" name="note" value="Untitled note" placeholder="Note (eg. alasan/nim etc.)">
                </div>
            </div>
        </div>
        <div class="card-post-single">
            <div class="header">
                <span class="title">Nama</span>
            </div>
        </div>
    </div>

    <script>
        feather.replace()
    </script>
</body>
</html>