<div class="container">
    <div class="recent_wrapper">
        <span>recent</span>
    </div>

    <!--If user voted the poll pass data here-->
    <%- include('../partials/cards/poll-voted', {data: 'dataObject'}) %>

    <!--else here-->
    <%- include('../partials/cards/poll-vote', {data: 'dataObject'}) %>
    
</div>
